.item {
  border: 2px solid black;
  background-color: rgb(135, 132, 132);
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  flex: 1;
}
.item:first-child {
  flex: 3;
}
.container {
  border: solid 2px red;
  display: flex;
}
.list {
  border: solid 2px green;
  list-style: none;
  display: flex;
}
.headerlist {
  border: solid 2px blue;
  padding: 10px;
  margin: 0px 10;
  text-align: center;
  text-decoration: none;
}
.photo_background {
  border: dashed gold 2px;
  display: fix;
  flex-direction: row;
}

.photo_background {
  display: flex;
  flex-direction: warp;
  flex-wrap: warp;
  padding: 0;
  margin: 0;
}
.par_pho1 {
  padding: 0;
  margin: 0px 2px 2px 0px;
  color: white;
  text-align: center;
  background: url("/1.jpg") no-repeat center center/cover;
}
