.navheader {
  border: 2px solid black;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid red;
  /* flex-direction: row; */
}
.logo {
  border: 1px solid rgb(103, 103, 70);
}
.headernav {
  display: flex;
  border: green solid 1px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.introdaction {
  height: 700px;
  border: 1px solid black;
  text-align: center;
  color: #345;
  background: url("/1.jpg") no-repeat center center/cover;
}
